<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cc.app.core.dao.CustomerMapper" >
  <resultMap id="BaseResultMap" type="com.cc.app.core.model.Customer" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="customerID" property="customerid" jdbcType="VARCHAR" />
    <result column="customerIndex" property="customerindex" jdbcType="VARCHAR" />
    <result column="customerName" property="customername" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="corpNo" property="corpno" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, customerID, customerIndex, customerName, tel, fax, note, corpNo
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cc.app.core.model.CustomerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from cec_customertbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cec_customertbl
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cec_customertbl
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cc.app.core.model.CustomerExample" >
    delete from cec_customertbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cc.app.core.model.Customer" >
    insert into cec_customertbl (id, customerID, customerIndex, 
      customerName, tel, fax, 
      note, corpNo)
    values (#{id,jdbcType=VARCHAR}, #{customerid,jdbcType=VARCHAR}, #{customerindex,jdbcType=VARCHAR}, 
      #{customername,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR}, #{corpno,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cc.app.core.model.Customer" >
    insert into cec_customertbl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerid != null" >
        customerID,
      </if>
      <if test="customerindex != null" >
        customerIndex,
      </if>
      <if test="customername != null" >
        customerName,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="fax != null" >
        fax,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="corpno != null" >
        corpNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="customerid != null" >
        #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="customerindex != null" >
        #{customerindex,jdbcType=VARCHAR},
      </if>
      <if test="customername != null" >
        #{customername,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="corpno != null" >
        #{corpno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cc.app.core.model.CustomerExample" resultType="java.lang.Integer" >
    select count(*) from cec_customertbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cec_customertbl
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.customerid != null" >
        customerID = #{record.customerid,jdbcType=VARCHAR},
      </if>
      <if test="record.customerindex != null" >
        customerIndex = #{record.customerindex,jdbcType=VARCHAR},
      </if>
      <if test="record.customername != null" >
        customerName = #{record.customername,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null" >
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.fax != null" >
        fax = #{record.fax,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.corpno != null" >
        corpNo = #{record.corpno,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cec_customertbl
    set id = #{record.id,jdbcType=VARCHAR},
      customerID = #{record.customerid,jdbcType=VARCHAR},
      customerIndex = #{record.customerindex,jdbcType=VARCHAR},
      customerName = #{record.customername,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      fax = #{record.fax,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR},
      corpNo = #{record.corpno,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cc.app.core.model.Customer" >
    update cec_customertbl
    <set >
      <if test="customerid != null" >
        customerID = #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="customerindex != null" >
        customerIndex = #{customerindex,jdbcType=VARCHAR},
      </if>
      <if test="customername != null" >
        customerName = #{customername,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="corpno != null" >
        corpNo = #{corpno,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cc.app.core.model.Customer" >
    update cec_customertbl
    set customerID = #{customerid,jdbcType=VARCHAR},
      customerIndex = #{customerindex,jdbcType=VARCHAR},
      customerName = #{customername,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      corpNo = #{corpno,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="queryPageList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select
    <include refid="Base_Column_List" />
    from cec_customertbl
    where 1=1
    <if test="customerName != null and customerName != ''">
      and customername like #{customerName,jdbcType=VARCHAR}
    </if>
    <if test="tel != null and tel != ''">
      and tel = #{tel,jdbcType=VARCHAR}
    </if>
    <if test="corpNo != null and corpNo != ''">
      and corpNo = #{corpNo,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectByDicNo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select customerIndex dicKey,customername dicVal
    from cec_customertbl
    where 1=1
    <if test="dicNo != null and dicNo != ''">
      and customerIndex = #{dicNo,jdbcType=VARCHAR}
    </if>
    <if test="corpNo != null and corpNo != ''">
      and corpNo = #{corpNo,jdbcType=VARCHAR}
    </if>
    order by litTypeID
  </select>
  <select id="comboBox" parameterType="java.lang.String" resultType="java.util.HashMap">
    select id dicKey, customerName dicVal from cec_customertbl
    where 1=1
      and corpNo = #{corpNo,jdbcType=VARCHAR}
  </select>
</mapper>