<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cc.app.core.dao.CxtjMapper" >
  <select id="ckxxcx" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select a.*,b.*,c.customerName,d.driverName from
    cec_inboundtbl a
    left join
    (select t1.inBoundIndex inId,t2.billofladingNo,t2.sealNum,t2.containerNo,t2.containerDate,t2.areaID
    from cec_containertbl t1, cec_creatboxtbl t2
    where 1=1 and t1.sealNum = t2.id) b on a.id = b.inId
    left join cec_customertbl c on a.customerID = c.id
    left join cec_drivertbl d on a.driverID = d.id
    where 1=1
    and a.corpNo = #{corpNo,jdbcType=VARCHAR}
    <if test="customerName != null and customerName != ''">
      and c.customerName like #{customerName,jdbcType=VARCHAR}
    </if>
    <if test="inboundNo != null and inboundNo != ''">
      and a.inboundNo = #{inboundNo,jdbcType=VARCHAR}
    </if>
    <if test="containerNo != null and containerNo != ''">
      and b.containerNo = #{containerNo,jdbcType=VARCHAR}
    </if>
    <if test="billofladingNo != null and billofladingNo != ''">
      and b.billofladingNo = #{billofladingNo,jdbcType=VARCHAR}
    </if>
    order by a.date desc
  </select>
  <select id="sjlhtj" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select a.*,b.*,c.customerName,d.driverName from
    cec_inboundtbl a
    inner join
    (select t1.inBoundIndex inId,
            t2.billofladingNo,t2.sealNum,t2.containerNo,t2.containerDate,t2.areaID
    from cec_containertbl t1, cec_creatboxtbl t2
    where 1=1 and t1.sealNum = t2.id) b on a.id = b.inId
    left join cec_customertbl c on a.customerID = c.id
    left join cec_drivertbl d on a.driverID = d.id
    where 1=1
    and a.corpNo = #{corpNo,jdbcType=VARCHAR}
    <if test="startDate != null and startDate != ''">
      and b.containerDate &gt;= #{startDate,jdbcType=VARCHAR}
    </if>
    <if test="endDate != null and endDate != ''">
      and b.containerDate &lt;= #{endDate,jdbcType=VARCHAR}
    </if>
    <if test="driverID != null and driverID != ''">
      and a.driverID = #{driverID,jdbcType=VARCHAR}
    </if>
    order by b.containerDate desc
  </select>
  <select id="zxgzhtj" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select a.*,d.typeName stevedoreName, e.typeName boxTypeName, f.typeName areaName
    ,(@rownum:=@rownum + 1) xh
    from cec_creatboxtbl a
    inner join (SELECT @rownum := 0) r
    left join cec_basictbl d on a.stevedoreID = d.id
    left join cec_basictbl e on a.boxTypeID = e.id
    left join cec_basictbl f on a.areaID = f.id
    where 1=1
    and a.corpNo = #{corpNo,jdbcType=VARCHAR}
    <if test="startDate != null and startDate != ''">
      and a.containerDate &gt;= #{startDate,jdbcType=VARCHAR}
    </if>
    <if test="endDate != null and endDate != ''">
      and a.containerDate &lt;= #{endDate,jdbcType=VARCHAR}
    </if>
    <if test="stevedoreID != null and stevedoreID != ''">
      and a.stevedoreID = #{stevedoreID,jdbcType=VARCHAR}
    </if>
    <if test="areaID != null and areaID != ''">
      and a.areaID = #{areaID,jdbcType=VARCHAR}
    </if>
    <if test="boxTypeID != null and boxTypeID != ''">
      and a.boxTypeID = #{boxTypeID,jdbcType=VARCHAR}
    </if>
    order by a.containerDate desc
  </select>
  <select id="jcgstj" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select a.*,c.customerName from
    cec_inboundtbl a
    left join cec_customertbl c on a.customerID = c.id
    where 1=1
    and a.corpNo = #{corpNo,jdbcType=VARCHAR}
    <if test="customerID != null and customerID != ''">
      and a.customerID = #{customerID,jdbcType=VARCHAR}
    </if>
    <if test="startDate != null and startDate != ''">
      and a.date &gt;= #{startDate,jdbcType=VARCHAR}
    </if>
    <if test="endDate != null and endDate != ''">
      and a.date &lt;= #{endDate,jdbcType=VARCHAR}
    </if>
    order by a.date desc
  </select>
  <select id="tjfytj" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select a.*,b.*,c.driverName from cec_outboundtbl a
    left join
    (select t1.id inId, t1.inboundNo, t1.date, t2.customerName, t3.driverName inDriverName from cec_inboundtbl t1
    left join cec_customertbl t2 on t1.customerID = t2.id
    left join cec_drivertbl t3 on t1.driverID = t3.id)
    b on a.inBoundIndex = b.inId
    left join cec_drivertbl c on a.driverID = c.id
    where 1=1
    and a.corpNo = #{corpNo,jdbcType=VARCHAR}
    <if test="driverID != null and driverID != ''">
      and a.driverID = #{driverID,jdbcType=VARCHAR}
    </if>
    <if test="stevedoreID != null and stevedoreID != ''">
      and a.stevedoreID = #{stevedoreID,jdbcType=VARCHAR}
    </if>
    <if test="startDate != null and startDate != ''">
      and a.outDate &gt;= #{startDate,jdbcType=VARCHAR}
    </if>
    <if test="endDate != null and endDate != ''">
      and a.outDate &lt;= #{endDate,jdbcType=VARCHAR}
    </if>
    order by a.outDate desc
  </select>
  <select id="zxqd" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select a.*,c.customerName, d.driverName
    ,(@rownum:=@rownum + 1) xh
    from (
        select t2.*,t1.sealNum boxId from cec_containertbl t1, cec_inboundtbl t2
        where 1=1
          and t1.inBoundIndex = t2.id
          and t1.sealNum = #{boxId,jdbcType=VARCHAR}
        ) a
        inner join (SELECT @rownum := 0) r
        left join cec_customertbl c on a.customerID = c.id
        left join cec_drivertbl d on a.driverID = d.id
    where 1=1
    and a.corpNo = #{corpNo,jdbcType=VARCHAR}
    order by a.inboundNo
  </select>
</mapper>