<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cc.app.core.dao.OutBoundMapper" >
  <resultMap id="BaseResultMap" type="com.cc.app.core.model.OutBound" >
    <id column="tid" property="tid" jdbcType="VARCHAR" />
    <result column="ID" property="id" jdbcType="BIGINT" />
    <result column="inBoundIndex" property="inboundindex" jdbcType="BIGINT" />
    <result column="outDate" property="outdate" jdbcType="VARCHAR" />
    <result column="cbm" property="cbm" jdbcType="DECIMAL" />
    <result column="pks" property="pks" jdbcType="INTEGER" />
    <result column="stevedoreID" property="stevedoreid" jdbcType="VARCHAR" />
    <result column="stevedoreMoney" property="stevedoremoney" jdbcType="DECIMAL" />
    <result column="driverID" property="driverid" jdbcType="VARCHAR" />
    <result column="driverMoney" property="drivermoney" jdbcType="DECIMAL" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="corpNo" property="corpno" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    tid, ID, inBoundIndex, outDate, cbm, pks, stevedoreID, stevedoreMoney, driverID, 
    driverMoney, note, corpNo
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cc.app.core.model.OutBoundExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from cec_outboundtbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cec_outboundtbl
    where tid = #{tid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cec_outboundtbl
    where tid = #{tid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cc.app.core.model.OutBoundExample" >
    delete from cec_outboundtbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cc.app.core.model.OutBound" >
    insert into cec_outboundtbl (tid, ID, inBoundIndex, 
      outDate, cbm, pks, 
      stevedoreID, stevedoreMoney, driverID, 
      driverMoney, note, corpNo
      )
    values (#{tid,jdbcType=VARCHAR}, #{id,jdbcType=BIGINT}, #{inboundindex,jdbcType=BIGINT}, 
      #{outdate,jdbcType=VARCHAR}, #{cbm,jdbcType=DECIMAL}, #{pks,jdbcType=INTEGER}, 
      #{stevedoreid,jdbcType=VARCHAR}, #{stevedoremoney,jdbcType=DECIMAL}, #{driverid,jdbcType=VARCHAR}, 
      #{drivermoney,jdbcType=DECIMAL}, #{note,jdbcType=VARCHAR}, #{corpno,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cc.app.core.model.OutBound" >
    insert into cec_outboundtbl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        tid,
      </if>
      <if test="id != null" >
        ID,
      </if>
      <if test="inboundindex != null" >
        inBoundIndex,
      </if>
      <if test="outdate != null" >
        outDate,
      </if>
      <if test="cbm != null" >
        cbm,
      </if>
      <if test="pks != null" >
        pks,
      </if>
      <if test="stevedoreid != null" >
        stevedoreID,
      </if>
      <if test="stevedoremoney != null" >
        stevedoreMoney,
      </if>
      <if test="driverid != null" >
        driverID,
      </if>
      <if test="drivermoney != null" >
        driverMoney,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="corpno != null" >
        corpNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="inboundindex != null" >
        #{inboundindex,jdbcType=BIGINT},
      </if>
      <if test="outdate != null" >
        #{outdate,jdbcType=VARCHAR},
      </if>
      <if test="cbm != null" >
        #{cbm,jdbcType=DECIMAL},
      </if>
      <if test="pks != null" >
        #{pks,jdbcType=INTEGER},
      </if>
      <if test="stevedoreid != null" >
        #{stevedoreid,jdbcType=VARCHAR},
      </if>
      <if test="stevedoremoney != null" >
        #{stevedoremoney,jdbcType=DECIMAL},
      </if>
      <if test="driverid != null" >
        #{driverid,jdbcType=VARCHAR},
      </if>
      <if test="drivermoney != null" >
        #{drivermoney,jdbcType=DECIMAL},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="corpno != null" >
        #{corpno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cc.app.core.model.OutBoundExample" resultType="java.lang.Integer" >
    select count(*) from cec_outboundtbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cec_outboundtbl
    <set >
      <if test="record.tid != null" >
        tid = #{record.tid,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.inboundindex != null" >
        inBoundIndex = #{record.inboundindex,jdbcType=BIGINT},
      </if>
      <if test="record.outdate != null" >
        outDate = #{record.outdate,jdbcType=VARCHAR},
      </if>
      <if test="record.cbm != null" >
        cbm = #{record.cbm,jdbcType=DECIMAL},
      </if>
      <if test="record.pks != null" >
        pks = #{record.pks,jdbcType=INTEGER},
      </if>
      <if test="record.stevedoreid != null" >
        stevedoreID = #{record.stevedoreid,jdbcType=VARCHAR},
      </if>
      <if test="record.stevedoremoney != null" >
        stevedoreMoney = #{record.stevedoremoney,jdbcType=DECIMAL},
      </if>
      <if test="record.driverid != null" >
        driverID = #{record.driverid,jdbcType=VARCHAR},
      </if>
      <if test="record.drivermoney != null" >
        driverMoney = #{record.drivermoney,jdbcType=DECIMAL},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.corpno != null" >
        corpNo = #{record.corpno,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cec_outboundtbl
    set tid = #{record.tid,jdbcType=VARCHAR},
      ID = #{record.id,jdbcType=BIGINT},
      inBoundIndex = #{record.inboundindex,jdbcType=BIGINT},
      outDate = #{record.outdate,jdbcType=VARCHAR},
      cbm = #{record.cbm,jdbcType=DECIMAL},
      pks = #{record.pks,jdbcType=INTEGER},
      stevedoreID = #{record.stevedoreid,jdbcType=VARCHAR},
      stevedoreMoney = #{record.stevedoremoney,jdbcType=DECIMAL},
      driverID = #{record.driverid,jdbcType=VARCHAR},
      driverMoney = #{record.drivermoney,jdbcType=DECIMAL},
      note = #{record.note,jdbcType=VARCHAR},
      corpNo = #{record.corpno,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cc.app.core.model.OutBound" >
    update cec_outboundtbl
    <set >
      <if test="id != null" >
        ID = #{id,jdbcType=BIGINT},
      </if>
      <if test="inboundindex != null" >
        inBoundIndex = #{inboundindex,jdbcType=BIGINT},
      </if>
      <if test="outdate != null" >
        outDate = #{outdate,jdbcType=VARCHAR},
      </if>
      <if test="cbm != null" >
        cbm = #{cbm,jdbcType=DECIMAL},
      </if>
      <if test="pks != null" >
        pks = #{pks,jdbcType=INTEGER},
      </if>
      <if test="stevedoreid != null" >
        stevedoreID = #{stevedoreid,jdbcType=VARCHAR},
      </if>
      <if test="stevedoremoney != null" >
        stevedoreMoney = #{stevedoremoney,jdbcType=DECIMAL},
      </if>
      <if test="driverid != null" >
        driverID = #{driverid,jdbcType=VARCHAR},
      </if>
      <if test="drivermoney != null" >
        driverMoney = #{drivermoney,jdbcType=DECIMAL},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="corpno != null" >
        corpNo = #{corpno,jdbcType=VARCHAR},
      </if>
    </set>
    where tid = #{tid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cc.app.core.model.OutBound" >
    update cec_outboundtbl
    set ID = #{id,jdbcType=BIGINT},
      inBoundIndex = #{inboundindex,jdbcType=BIGINT},
      outDate = #{outdate,jdbcType=VARCHAR},
      cbm = #{cbm,jdbcType=DECIMAL},
      pks = #{pks,jdbcType=INTEGER},
      stevedoreID = #{stevedoreid,jdbcType=VARCHAR},
      stevedoreMoney = #{stevedoremoney,jdbcType=DECIMAL},
      driverID = #{driverid,jdbcType=VARCHAR},
      driverMoney = #{drivermoney,jdbcType=DECIMAL},
      note = #{note,jdbcType=VARCHAR},
      corpNo = #{corpno,jdbcType=VARCHAR}
    where tid = #{tid,jdbcType=VARCHAR}
  </update>
  <select id="queryPageList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select a.*, b.*, c.driverName, d.typeName stevedoreName
    from cec_outboundtbl a
    left join
    (select t1.id inId, t1.inboundNo, t1.date, t2.customerName,t2.customerIndex, t3.driverName inDriverName, t4.typeName inStevedoreName from cec_inboundtbl t1
    left join cec_customertbl t2 on t1.customerID = t2.id
    left join cec_drivertbl t3 on t1.driverID = t3.id
    left join cec_basictbl t4 on t1.stevedoreID = t4.id)
    b on a.inBoundIndex = b.inId
    left join cec_drivertbl c on a.driverID = c.id
    left join cec_basictbl d on a.stevedoreID = d.id
    where 1=1
    <if test="customerName != null and customerName != ''">
      and (b.customerName like #{customerName,jdbcType=VARCHAR} or b.customerIndex like #{customerName,jdbcType=VARCHAR})
    </if>
    <if test="driverID != null and driverID != ''">
      and a.driverID = #{driverID,jdbcType=VARCHAR}
    </if>
    <if test="stevedoreID != null and stevedoreID != ''">
      and a.stevedoreID = #{stevedoreID,jdbcType=VARCHAR}
    </if>
    <if test="startDate != null and startDate != ''">
      and a.outDate >= #{startDate,jdbcType=VARCHAR}
    </if>
    <if test="endDate != null and endDate != ''">
      and a.outDate >= #{endDate,jdbcType=VARCHAR}
    </if>
    <if test="corpNo != null and corpNo != ''">
      and a.corpNo = #{corpNo,jdbcType=VARCHAR}
    </if>
    ORDER BY a.outDate desc
  </select>
  <select id="sumTc" parameterType="java.lang.Long" resultType="java.util.Map">
    select ifnull(sum(a.pks),0) pks, ifnull(sum(cbm),0) cbm
    from cec_outboundtbl a
    where 1=1
      and a.inBoundIndex = #{inboundindex,jdbcType=BIGINT}
  </select>
</mapper>