<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cc.app.base.dao.SeqObjectMapper" >
  <resultMap id="BaseResultMap" type="com.cc.app.base.model.SeqObject" >
    <id column="SEQ" property="seq" jdbcType="INTEGER" />
  </resultMap>

  <insert id="getSeq" parameterType="com.cc.app.base.model.SeqObject" statementType="STATEMENT" keyProperty="seq" useGeneratedKeys="true">
    insert into ${tableName} (SEQ)
    values (0)
  </insert>
</mapper>